.form-div{
    text-align: center;
    margin-top:10vh;
}

.form-div input{
    height:50px;
    margin: 10px;
    text-align: center;
    width: 50vw;
}

.form-div input{
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    padding: 1rem 0;
    border:0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.25);
    margin-right: 2rem;
    color: blue;
    font-weight: lighter;
    letter-spacing: 1px;
}
.height-bal{
    height: 75vh;
}
h1{
    color: #222222;
    font-size: 25px;
}