

/* smooth scroll  */
html {
    scroll-behavior: smooth;
}


nav a .navbar-brand{
    color: white !important;
}

  body{
      margin-top: 60px;
    }

/* navbar styeles  */

.active{
        border-bottom: 3px solid yellow;
}
/* footer style  */
footer{
    background: black;
    color: white;
}