.block {
    background-color: black;
    opacity: .8;
    padding: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}


/* i */

.nav-pills {
    font-size: 1.7em;
    background-color: black;
    margin-bottom: 10%;
}

body {
    background-color: black;
    color: white;
}

h1 {
    padding: 0;
    margin-top: 0px;
    font-size: 20px;;
    padding-top: 0%;
}

.btn-default {
    background-color: black;
    border-color: black;
    color: #337ab7;
    font-size: 1.7em;
    margin-top: 1%;
}

.pageOne {
    background: url("https://s20.postimg.cc/846y3dqul/Web-_Development.jpg");
    background-size: cover;
    padding-bottom: 25%;
}
.pageTwo {
    background: url("images/xd.jpg");
    background-size: cover;
    
}
.pageTwo {
    background: url(https://s2.postimg.org/hhr6rkg0p/559128.jpg);
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 5%;
}

.pageThree {
    background: url(https://s2.postimg.org/hhr6rkg0p/559128.jpg);
}

p {
    font-size: 20px;;
}

.pItems {
    height: 250px;
    boder-radius: 50%;
}
h2{
    font-size: 25px;
}
.paddingBTN {
    /*   padding-top:25%;
  padding-bottom:25%; */
    width: 200px;
    margin-bottom: 25px;
}

.paddingTop {
    padding-top: 2%;
    padding-bottom: 2%;
}
.me {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 50%;
    padding-left: auto;
}

.larger-image {
    width: 500px;
}

h1 {
    font-size: 70px;
}

.medium-image {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-down: auto;
    display: block;
    padding: (30px 30px 30px 30px);
    opacity: 200%;
    width: 50%;
    border-radius: 4%;
}

.block2 {
    /* //this is the block with opacity */
    background-color: black;
    opacity: .8;
    padding: 5px;;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}